<!-- includes/helpers/script-main-slider -->
<div class="container">
	<div class="pane-controls">
		<div class="pane-numbers" id="pane-pager">
			{% for section in page.page_sections %}
				<a class="pane-num {% if forloop.first %}active{% endif %}">{% if forloop.index < 10 %}0{% endif %}{{ forloop.index }}</a>
			{% endfor %}
		</div>
		<div class="pane-arrows">
			<div class="pane-prev">
				<img src="{{ 'images/icon-prev-arrow.svg' | relative_url }}">
			</div>
			<div class="pane-next">
				<img src="{{ 'images/icon-next-arrow.svg' | relative_url }}">
			</div>
		</div>

	</div>
</div>

<script type="text/javascript">
		

	// function veloFadeIn(el) {
	// 	el  			= $(el);
	// 	elLength		= el.length;
	// 	cls 			= '.'+pnCurCls;
		
		

	// 	el.each(function () {
	// 		i = $(this);
	// 		vFI(i);
	// 	})



	// 	function vFI(p) {
	// 		p 	= $(p);
				
	// 		for (var counter = 0, i = 1; counter < elLength; counter++, i++) {
				
	// 			chkLoop 		= p.is('.pane-'+i);
	// 			chkCur 			= p.is(cls);
	// 			currIndex 		= $(pnCur).index();
	// 			currItem 		= ++currIndex;
	// 			if ( typeof !prevIndex ) {
	// 				prevItem 	= 0;
	// 			}
	// 			if ( chkLoop && chkCur && prevItem != currItem) {
	// 				console.log('Loop: '+i+' Prev: '+prevItem+' Curr: '+currItem)
	// 			}
	// 		}
	// 	}
	// 	var prevIndex = ++currIndex;
	// }

	// // Create a closure
	// (function(){
	//     // Your base, I'm in it!
	//     var originalAddClassMethod = jQuery.fn.addClass;

	//     jQuery.fn.addClass = function(){
	//         // Execute the original method.
	//         var result = originalAddClassMethod.apply( this, arguments );

	//         // trigger a custom event
	//         jQuery(this).trigger('cssClassChanged');

	//         // return the original result
	//         return result;
	//     }
	// })();
   

	$(document).ready(function () {

		pane 		= '.pane';
		bodyClass	= 'active-pane-1';
		paneParent 	= $(pane).parent();
		pnCurCls 	= 'current-pane';
		pnPrCls 	= 'prev-pane';
		pnNxCls 	= 'next-pane';
		pnCur 		= pane+'.'+pnCurCls;
		nxPnArw 	= '.pane-next';
		prPnArw 	= '.pane-prev';
		pnNum 		= '.pane-numbers a';
		pnNmAct		= 'active';
		pnNmCur 	= pnNum+'.'+pnNmAct;
		pnTiming	= 1200; // coincides with transition of pane in scss
		animCls		= '.pane .animate';

		// On load add Next Pane Class / start Scrollmagic
		$(pnCur).next(pane).addClass(pnNxCls);
		
		$('body').addClass(bodyClass);

		// paneParent.addClass('start-scene');
		// veloFadeIn(pane);
		
		// Arrow Clicks
		$(nxPnArw).on('click touch',function(){
			nextPane()
			// veloFadeIn(pane)
		});
		$(prPnArw).on('click touch',function(){
			prevPane()
			// veloFadeIn(pane)
		});

		// Pager Clicks
		$(pnNum).on('click touch',function(){
			numChange($(this))
			// veloFadeIn(pane)
		});

		

		raiseZ = function (el) {
			el 		= $(el);
			currZ 	= $(pnCur).css('z-index');
			plusZ 	= ++currZ;
			el.css('z-index',plusZ);
		}
		numChange = function(el) {
			el  		= $(el);
			currIndex 	= $(pnNmCur).index();
			thisIndex 	= el.index();
			currItem 	= ++currIndex;
			thisItem 	= ++thisIndex;
			// Check position
			after 		= currItem < thisItem;
			before 		= currItem > thisItem;
			if ( el.is('.'+pnNmAct) ) {
				// Do NOTHING
			} else {
				if ( after ) {
					clicksNeeded = thisItem - currItem;
					for (var counter = 0, i = 0; counter < clicksNeeded; counter++, i++) {
						setTimeout(function() {
							nextPane();
						}, i * (pnTiming * 1.15))
					}
				}
				if ( before ) {
					clicksNeeded = currItem - thisItem;
					for (var counter = 0, i = 0; counter < clicksNeeded; counter++, i++) {
						setTimeout(function() {
							prevPane();
						}, i * (pnTiming * 1.15))
					}
				}
			}
		}
		nextPane = function() {
			next = $(pnCur).next(pane);
			nextPaneNum = next.attr('pane-number');
			nextPaneClass = 'active-pane-'+nextPaneNum;
			if ( next.length ) {
				raiseZ(next);
				next.addClass(pnCurCls).removeClass(pnNxCls).next(pane).addClass(pnNxCls);
				$('body').removeClass(function (index, className) {
    				return (className.match (/(^|\s)active-pane-\S+/g) || []).join(' ');
				}).addClass(nextPaneClass);
				setTimeout(function() {
					// Gracful Number Change
					$(pnNmCur).removeClass(pnNmAct).next(pnNum).addClass(pnNmAct);
				},(pnTiming / 2))
				prev = $(pnCur).prev(pane);
				setTimeout(function() {
					prev.removeClass(pnCurCls);
					prev.prev(pane).removeClass(pnPrCls);
					prev.last().addClass(pnPrCls);
				},pnTiming)
			}
		}
		prevPane = function() {
			prev = $(pnCur).prev(pane);
			nextPaneNum = prev.attr('pane-number');
			nextPaneClass = 'active-pane-'+nextPaneNum;
			if ( prev.length ) {
				raiseZ(prev);
				prev.addClass(pnCurCls);
				setTimeout(function() {
					// Delay to help reverse animation
				 	prev.removeClass(pnPrCls).prev(pane).addClass(pnPrCls);
				 	$('body').removeClass(function (index, className) {
	    				return (className.match (/(^|\s)active-pane-\S+/g) || []).join(' ');
					}).addClass(nextPaneClass);
					// Graceful Number Change
					$(pnNmCur).removeClass(pnNmAct).prev(pnNum).addClass(pnNmAct);
				},(pnTiming / 2));
				next = $(pnCur).next(pane);
				setTimeout(function() {
					next.removeClass(pnCurCls);
					next.next(pane).removeClass(pnNxCls);
					next.first().addClass(pnNxCls);
				},pnTiming)
			}
		}


		// $item = pane;


		scrollTrig(pane);
		
		function scrollTrig(el) {
			el 			= el;
			$body 		= $('body');
			
			$(document).ready(function () {runScroll(el)})
			$(window).scroll(function() {runScroll(el)})
			// $(window).resize(function () {runScroll(el)})

			function runScroll(item) {
				item = $(item);
				$(item).each(function () {
					// el = $(this);
					// distance 		= el.offset().top;
					// bottom 			= el.offset().bottom;
					// thisPaneNum 	= el.attr('pane-number');
					// thisPaneClass 	= '.active-pane-'+thisPaneNum;

					// console.log(distance)

					// if (typeof prevDistance === 'undefined' ) {
					// 	prevDistance = '';
					// } 

					// chck = ( prevDistance != distance );
					// chck = ( prevDistance != distance && prevDistance != '' );

					// console.log(chck)

					// if ( $(window).scrollTop() >= distance && chck ) {
					// 	// console.log(distance)
					// 	console.log(thisPaneClass)

				 //        // $('body').addClass($(this));
				 //        // console.log(el)
				 //        // console.log(distance)
					// 	// console.log(el)
				 //    } else {
				 //    	// console.log('something else')
				 //        // $('body').removeClass($(this));
				 //    }
				    // prevDistance = distance;
				    // prevDistance = distance;
				})
			}
		}




		// bodyClass = function (index, className) {
		// 	return (className.match (/(^|\s)active-pane-\S+/g) || []).join(' ');
		// }


		

		

      //   function fadeIn(el) {
      //   	el = $(el);

      //   	function init() {
		    //     eventListeners();
		    //     fadeIn();
		    // }
		    // function eventListeners() {
		    // 	$(window).load(function() {
		    //     	fadeIn();
		    // 	})
		    	
		    // }
      //   	console.log('test');
      //       // $scene.toggleClass(current);
      //       // $nav.toggleClass(current);
      //       // $parent.toggleClass(current);
      //       // $body.toggleClass(modalOpen);
      //       // $body.toggleClass(locked);

      //       // Btn Settings
      //       var hasClass = el.is('.'+pnCurCls);
                
      //           easing = [500, 20],

      //           top = hasClass ? '0%':'-200%',
      //           // NavDelay = hasClass ? 0 : 0,
      //           // NavDur = hasClass ? 700 : 100,

      //           // aTrans = hasClass ? 'transition.loadDown' : 'transition.loadUp',
      //           // aStag = hasClass ? 175 : 0,
      //           // aDelay = hasClass ? 450 : 0,
      //           // aDur = hasClass ? 600 : 100,
      //           // aEase = hasClass ? easing : easing,
                    
      //           // ease = hasClass ? easing : easing,
      //           // dur = hasClass ?  500 : 200;

      //       // Links
            

      //       $links.velocity(
      //       	// aTrans,
      //       	{
      //       		top: top
      //           // duration:aDur,
      //           // delay:aDelay,
      //           // easing:[300, 10],
      //           // stagger:aStag
      //       })
      //       // return false;

      //       init();

      //   }






     //    if ( $(pane).is('.'+pnCurCls) ) {
     //    	$(pane).fadeIn($(pane));
     //    }

     //    function classChecker(el) {
	    //     chkDelay = '200'; // Amount of time between Checks
	    //     var chkExist = setInterval(function() {
	    //         chkClass = $(el);
	    //         if (chkClass.length) {
	    //             // DO something
	    //             clearInterval(chkExist);
	                
	    //         }
	    //     },chkDelay);
	    // }
	    // $(pane).classChecker('.'+pnCurCls);

		


		// var el = '.animate',
		// 	trig = $(el).find('.start-scene .current-pane'),
		// 	// Move In
		// 	inY_0	= '100%',
		// 	inY_1 		= '0%',
		// 	inOp_0 	= 0,
		// 	inOp_1 	= 1,
		// 	inDelay = 1.5,
		// 	inEase 	= Power3.easeOut,
		
		// 	loadIn = TweenMax.staggerFromTo(
		// 		el,
		// 		1,
		// 		{
		// 			y: inY_0,
		// 			opacity: inOp_0,
		// 			ease: inEase 
		// 		},
		// 		{
		// 			y: inY_1,
		// 			opacity: inOp_1,
		// 			ease: inEase 
		// 		}
		// 	);

		// new ScrollMagic.Scene(
		// 	{
		// 		triggerElement: trig,
		// 		reverse: true
		// 	})
		// 	.setTween(loadIn)
		// 	// .addIndicators()
		// 	.addTo(controller);

	})
</script>







