<!-- includes/header -->
<header class="main-header">
    <div class="overlay-bg close-menu"></div>
    <div class="menu-panel">
		<a href="/" class="logo">
            {% assign ttl_splt = site.title | split: '' %}
            {% for i in ttl_splt %}
                {% if i != '' %}
                    <span>{{i}}</span>
                {% endif %}
            {% endfor %}
		</a>
		<span class="open menu-toggle">
			<span class="visually-hidden">Open Menu</span>
			{% include icons/menu-open.liquid %}
		</span>
        <ul class="main-nav">
            {% for item in site.data.menus.main %}
                {% assign page_url = page.url | replace: '.html','' %}
                <li>
                    <a 
                        href="{{ item.url }}" 
                        class="nav-item {% if page_url == item.url %}active{% endif %}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="social-nav">
            {% assign social_nav = 'facebook, instagram, youtube' | split: ',' %}
            {% for soc in social_nav %}
                <li>
                    <a href="https://{{soc}}.com/pnkdrmmmr">{{soc}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $btn            = $('.menu-toggle, .close-menu'),
            $nav            = $('.menu-modal'),
            $navLinks       = $('.main-nav li'),
            $socLinks       = $('.main-nav li'),
            modalOpen       = 'modal_open',
            navActive       = 'active',
            locked          = 'locked',
            $body           = $('body'),
            nav_Open        = function(e) {
                $btn.toggleClass(navActive);
                $body.toggleClass(modalOpen);
                $body.toggleClass(locked);
                
                isOpen      = $btn.is('.'+navActive);
                // Btn Settings
                aTrans      = isOpen ? 'transition.wipeIn' : 'transition.wipeOut',
                aStag       = isOpen ? 250 : 0,
                aDelay      = isOpen ? 0 : 0,
                aDur        = isOpen ? 500 : 0,
                aOp         = isOpen ? 1 : 0,
                aWdth       = isOpen ? '100%' : '0%';
                // Links
                $navLinks.velocity( aTrans,{
                    width:      aWdth,
                    maxWidth:   aWdth,
                    opacity:    aOp,
                    duration:   aDur,
                    delay:      aDelay,
                    stagger:    aStag
                })
            }
            $btn.click(nav_Open);




            
         })
    </script>
</header>
{% comment %}{% if page_url != '/' and include.spacer != 'none' %}
    <div 
        style="height:108px;" 
        class="spacer"></div>
{% endif %}{% endcomment %}








