<!-- includes/header -->
<header class="main-header">
	<div class="container">
		<a href="/" class="logo">
            {% assign ttl_splt = site.title | split: '' %}
            {% for i in ttl_splt %}
                {% if i != '' %}
                    <span>{{i}}</span>
                {% endif %}
            {% endfor %}
            {% comment %}<span>{{ site.title | slice: 0 }}</span>
			<span>{{ site.title | slice: 1 }}</span>{% endcomment %}
		</a>

		<span class="open menu-toggle">
			<span class="visually-hidden">Open Menu</span>
			{% include icons/menu-open.liquid %}
		</span>
		<div class="modal menu-modal">
			<div class="container">
				<span class="close menu-toggle">
					<span class="visually-hidden">Close Menu</span>
					{% include icons/menu-close.liquid %}
				</span>
				<div class="modal-inner wide">
					<nav>
						{% for item in site.data.menus.main %}
							{% assign page_url = page.url | replace: '.html','' %}
							<a 
								href="{{ item.url }}" 
								class="nav-item {% if page_url == item.url %}active{% endif %}">
								{{ item.title }}
							</a>
						{% endfor %}
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
{% if page_url != '/' and include.spacer != 'none' %}
	<div 
		style="height:108px;" 
		class="spacer"></div>
{% endif %}
<script type="text/javascript">

	$(document).ready(function() {

        var $btn = $('.menu-toggle'),
            $nav = $('.menu-modal'),
            $nav_bg = $('.menu_active_bg'),
            $links = $('.menu-modal a'),
            $parent = $('.main-header'),
            modalOpen = 'modal_open',
            navActive = 'active',
            locked = 'locked',
            $body = $('body');

        var nav_Open = function(e) {

            $btn.toggleClass(navActive);
            $nav.toggleClass(navActive);
            $parent.toggleClass(navActive);
            $body.toggleClass(modalOpen);
            $body.toggleClass(locked);

            // Btn Settings
            var isOpen = $btn.is('.'+navActive);
                
                easing = [500, 20],

                NavTop = isOpen ? '0%':'-200%',
                NavDelay = isOpen ? 0 : 0,
                NavDur = isOpen ? 700 : 100,

                aTrans = isOpen ? 'transition.leftIn' : 'transition.leftOut',
                aStag = isOpen ? 175 : 0,
                aDelay = isOpen ? 450 : 0,
                aDur = isOpen ? 600 : 100,
                aEase = isOpen ? easing : easing,
                    
                ease = isOpen ? easing : easing,
                dur = isOpen ?  500 : 200;

            // Links
            

            $links.velocity(aTrans,{
                duration:aDur,
                delay:aDelay,
                easing:[300, 10],
                stagger:aStag
            })
            // return false;

        }
        
        $btn.click(nav_Open);

     })
</script>