.template-post {
	.max-width {
		background:#8AC9C8;
		background:white;
	}
	.main-hero {
		width:100%;
		height:0;
		padding-top:40%;
		// min-height:100px;
		// padding:5%;
		display:block;
		position:relative;
		overflow:hidden;
		text-decoration:none;
		&:after {
			content:'';
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index:0;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center;
			opacity:1;
			transition: all .1s linear;
		}
		&:before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			z-index:1;
			background:#000000;
			mix-blend-mode:hue;
		}
	}
	.meta-overlay {
		position:absolute;
		bottom:5%;
		left:5%;
		width:90%;
		z-index:2;
	}
	.post-title,
	.date, 
	.tags {
		text-transform:uppercase;
		margin:0.1em 0 0;
		text-shadow:0px 1px 2px rgba(0, 0, 0, 0.93),
					0px 3px 6px rgba(0, 0, 0, 0.93);
		color:white;
	}

	.section-title h3 {
		color:#333;
	}
	.rte {
		color:#222;
		h1, h2, h3, 
		h4, h5, h6 ,
		p, li{
			color:#222;
		}
	}


	.post-hero, 
	.post-gallery, 
	.post-text, 
	.post-grid {
		margin:60px 0;
	}

	.post-hero {
		position:relative;
		width:100%;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		height:50vh;
		.container {
			height:100%;

		}

		h3, .rte > * {
			text-transform:uppercase;
			margin:0.1em 0 0;
			text-shadow:0px 1px 2px rgba(0, 0, 0, 0.93),
						0px 3px 6px rgba(0, 0, 0, 0.93);
			color:white;
		}
	}


	.post-grid {



		@media screen and (min-width:$grid-medium) {
			display:table;
			table-layout:fixed;
			width:100%;

			.grid__item {
				display:table-cell;
				vertical-align:middle;
			}

			.padding-left {
				padding-left:2em;
			}
			.padding-right {
				padding-right:2em;
			}
		}
	}


	.squared {
		width:100%;
		height:0;
		padding-top:100%;
		min-height:0;
		display:block;
	}

	.side-gallery {
		margin-top:60px;
		margin-left:-10px;
		.grid__item {
			padding-left:10px;
			margin-bottom:10px;
		}

	}
	.side-feed {
		margin-top:60px;
		margin-left:-10px;
		opacity:0.5;
		transition: opacity .1s linear;
		&:hover {
			opacity:1;
		}
		.grid__item {
			padding-left:10px;
			margin-bottom:10px;
		}
		.side-post {
			padding:1em 0;
			border-bottom:1px solid black;
			margin:0 0 1em;
			color:black;
			text-transform:uppercase;
			display:block;
			&:hover {
				opacity:0.65;
				text-decoration:none;
			}
			&.border-top {
				border-top:1px solid black;
			}
			h4 {
				// text-transform:uppercase;
				margin:0 0 0.25em;
			}
			
		}
	}



	.post-audio {
		$audioColor:black;
		$audioBar:$orange;
		// $barColor:#151B48;
		$barColor:lighten($audioBar,20%);
		& > * {
			color:black;
		}

		// /*
		//     AUTHOR: Sam Johnson
		//     MINIMusic Player 
		// */

		/* HTML5 Audio player with playlist styles */
		//colors
		// $audioColor: black;
		// $audioBar: #dddddd;
		// $barColor: #aaaaaa;
		// $barColor: white;

		//fonts
		$font_0: inherit;

		//urls
		$playlist: url(/uploads/music/playlist.svg);
		$play: url(/uploads/music/play.svg);
		$pause: url(/uploads/music/pause.svg);
		$rewind: url(/uploads/music/rewind.svg);
		$forward: url(/uploads/music/next.svg);
		$stop: url(/uploads/music/stop.svg);
		$volume_on: url(/uploads/music/volume-up.svg);
		$volume_off: url(/uploads/music/spr.svg);

		//@extend-elements
		//original selectors
		//.title, .artist
		%extend_1 {
			font-family: $font_0;
			left: 167px;
			position: absolute;
		}

		//original selectors
		//.controls .play, .controls .pause
		%extend_2 {
			width: 60px;
			height: 60px;
			margin: 0 5px;
		}

		//original selectors
		//.controls .play, .controls .pause, .controls .rew, .controls .fwd, .controls .stop
		%extend_3 {
			text-indent: -10000px;
			border: none;
			// float: left;
			display:inline-block;
			vertical-align:middle;
		}

		//original selectors
		//.controls .rew, .controls .fwd, .controls .stop
		%extend_4 {
			width: 40px;
			height: 40px;
			margin: 0 10px;
		}

		//original selectors
		//.time-current, .time-duration, .time-separator
		%extend_5 {
			color: $audioColor;
			font-size: 14px;
			font-weight: bold;
			float: left;
		}

		//original selectors
		//.playlist li, .playlist div
		%extend_6 {
			color: $barColor;
			cursor: pointer;
			// margin: 0 0 5px 15px;
		}


		.example {
			margin: 50px auto 0;
			width: 390px;
		}
		.example2 {
			margin: 50px auto 0;
			width: 390px;
		}
		.player {
			// background: $audioColor;
			height: 220px;
			position: relative;
			width: 100%;
			z-index: 2;
		}
		.title {
			@extend %extend_1;
			color: $audioColor;
			font-size: 14px;
			font-weight: bold;
			top: 23px;
		}
		.artist {
			@extend %extend_1;
			color: lighten(black, 10%);
			font-size: 12px;
			top: 40px;
		}
		.pl {
			background: $playlist no-repeat;
			cursor: pointer;
			height: 40px;
			left: 330px;
			position: absolute;
			top: 20px;
			width: 39px;
			&:hover {
				top: 21px;
			}
		}
		.cover {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 5px 5px 5px 5px;
			height: 94px;
			left: 20px;
			position: absolute;
			top: 30px;
			width: 94px;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
		}
		.controls {
			cursor: pointer;
			left: 0;
			position: absolute;
			top: 65px;
			left: 122px;
			.play {
				@extend %extend_2;
				@extend %extend_3;
				background: $play no-repeat;
			}
			.pause {
				@extend %extend_2;
				@extend %extend_3;
				background: $pause no-repeat;
				display: none;
			}
			.rew {
				@extend %extend_3;
				@extend %extend_4;
				background: $rewind no-repeat;
			}
			.fwd {
				@extend %extend_3;
				@extend %extend_4;
				background: $forward no-repeat;
			}
			.stop {
				@extend %extend_3;
				@extend %extend_4;
				background: $stop no-repeat;
			}
			.visible {
				display: inline-block;
			}
			.hidden {
				display: none;
			}
		}
		
		.volume {
			height: 11px;
			left: 230px;
			position: absolute;
			top: 142px;
			width: 140px;
			.ui-slider-handle {
				background: $volume_off no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
				height: 13px;
				width: 13px;
			}
		}
		.volume-btn {
			background: $volume_on no-repeat;
			height: 20px;
			width: 20px;
			float: left;
			position: relative;
			top: -4px;
		}
		.volume-adjust {
			height: 11px;
			position: relative;
			width: 80%;
			background: $barColor;
			float: right;
			> div > div {
				height: 11px;
				background: $audioBar;
			}
		}
		.progressbar {
			background-color: $barColor;
			cursor: pointer;
			z-index: 1;
			right: 6.875em;
			height: 15px;
			left: 0;
			position: absolute;
			width: 90%;
			top: 170px;
			margin: 0 5%;
			div {
				width: 0;
				height: 15px;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.bar-loaded {
			background-color: darken($barColor,5%);
			z-index: 1;
		}
		.bar-played {
			background: $audioBar;
			// background:black;
			z-index: 2;
		}
		.timeHolder {
			color: $audioColor;
			font-size: 14px;
			font-weight: bold;
			bottom: 10px;
			position: absolute;
			margin: 0 5%;
			width: 90%;
		}
		.time-current {
			@extend %extend_5;
		}
		.time-duration {
			@extend %extend_5;
		}
		.time-separator {
			@extend %extend_5;
		}
		.playlist {
			// background-color: $audioBar;
			list-style-type: none;
			margin: -10px 0 0 2px;
			padding-bottom: 10px;
			padding-top: 15px;
			position: relative;
			// width: 95%;
			z-index: 1;
			margin: 0 auto;
			li {
				@extend %extend_6;
				> a {
					// color: $barColor;
					text-decoration: none;
				}
				&.active {
					font-weight: bold;
				}
			}
			div {
				@extend %extend_6;
				> a {
					// color: $barColor;
					text-decoration: none;
				}
				&.active {
					font-weight: bold;
				}
			}
		}
		.mute .volume-btn {
			background: $volume_on no-repeat;
			opacity: 0.6;
		}
		.novolume .progressbar {
			right: 4.375em;
		}
	}

















	@media screen and (max-width:$grid-medium - 1) {
		.main-screens {
			margin-top:75px;
			max-height:calc(100vh - 85px);
			overflow:hidden;
			overflow-y:auto;
			padding:0 2%;
		}
		.main-hero {
			padding-top:60%;
		}
	}
}