body {
	// background:$dark;
	// min-height:100vh;
}

body.locked {
	overflow:hidden;
	// height:100vh;
}
.max-width {
	width:100%;
	max-width:$width-site;
	margin:0 auto;
	min-height:100%;
	// box-shadow:0px 0px 15px 5px rgba(51, 55, 69, 0.4);
	box-shadow:0px 0px 50px 0px rgba($dark, 0.9);
}
.container {
	width:100%;
	max-width:$width-cont;
	margin:0 auto;
	position:relative;
	padding:0 2%;

	&.padding {
		padding:0 $bodyLineHeight;
	}
	&.thin {
		max-width:1200px;
	}
}

.center-content {
	@include centered();
}

.mainContent {
	// margin-top:($bodyLineHeight * 6);
	padding:($bodyLineHeight * 3) 0;
}

.visually-hidden {
	@include visually-hidden();
}

.background-image {
	min-height:100px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.square {
	@include squared();
}


.scroll-trigger,
.fade-in {
	$amt:10px;
	.fade-down {
		transform: translateY(-$amt);
		opacity:0;
		transition: all .3s linear;
	}
	.fade-up {
		transform: translateY($amt);
		opacity:0;
		transition: all .3s linear;
	}
	.fade-left {
		transform: translateX(-$amt);
		opacity:0;
		transition: all .3s linear;
	}
	.fade-right {
		transform: translateX($amt);
		opacity:0;
		transition: all .3s linear;
	}

	&.active {
		.fade-down,
		.fade-up {
			transform: translateY(0%);
			opacity:1;
		}
		.fade-left,
		.fade-right {
			transform: translateX(0%);
			opacity:1;
		}
	}
}

.modal {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba($dark,0.7);
	z-index:100;
	// padding:1em;
	opacity:0;
	pointer-events:none;
	tranform: translateY(-4%);
	transition: all .1s linear;
	.modal-inner {
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		max-height:90vh;
		width:90%;
		max-width:400px;
		z-index:1000;
	}
	// &:after {
	// 	position:fixed;
	// 	top:0;
	// 	left:0;
	// 	width:100vw;
	// 	height:100vh;
	// 	background:rgba(black,0.7);
	// 	z-index:;
	// 	background-blend-mode:multiply;
	// 	content:'';
	// }




	&.active {
		opacity:1;
		pointer-events:initial;
		transform: translateY(0%);
		.modal-toggle,
		.menu-toggle {
			&.open {
				opacity:0;
			}
			&.close {
				opacity:1;
			}
		}
	}
}

.modal-toggle,
.menu-toggle {
	position:absolute;
	right:2em;
	top:2em;
	cursor:pointer;
	display:block;
	color:$beige;
	&.close {
		opacity:0;
	}
}

.main-screens {
	overflow:hidden;
	.section-slide {
		// overflow:hidden;
		// display:none;
		// opacity:0 !important;
		// z-index:1;
		&.active {
			// opacity:1 !important;
			// overflow:hidden;
			// width:500px;
			// display:block;
		}

	}
}


@media screen and (max-width:$grid-medium - 1) {
	.modal-toggle,
	.menu-toggle {
		right:0.6em;
		top:0.6em;
	}
}


.hero,
.featured-posts {
	&:after {
      	content: '';
	    height: 100vh;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    opacity: 0;
	    pointer-events:none;
	    mix-blend-mode: difference;
	    background: #b78585;
	    z-index: 10000;
	    transform: translateZ(0);
	    transition:all .05s ease-out;
	}
	@media screen and (min-width:$grid-medium) {
		.modal_open & {
			&:after {
				opacity:0.9;
	    		transition:all .5s linear 1s;
			}


		}

	}
	@media screen and (max-width:$grid-medium - 1) {
		.modal_open & {
			&:after {
				// background-blend-mode:multiply !important;
				opacity:0.9;
		    	transition:all .1s .3s linear;
	    		transition:all .5s linear 1s;

			}
		}
	}

}

.hero {
	&:after {
		mix-blend-mode:lighten;
	}
}

.footer {
	&:after {
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		left:50%;
		transform:translateX(-50%);
		width:100%;
		max-width:550px;
		height:100%;
		z-index:1;
		mix-blend-mode:exclusion;
	    background: #b78585;

		opacity:1;
	}
	&:before {
    	transition:all .05s ease-out;
	}
	.background-color {

	}
	.background-color:after {
		display:none;
	}
	.modal_open & {
		&:before {
			// opacity:0.9;
			background-blend-mode: color-dodge !important;
    		transition: all .5s linear 1s;
		}
	}
}

.template-post {
	.main-screens {
		&:after {
	     	content: '';
		    height: 100vh;
		    width: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    opacity: 0;
		    pointer-events: none;
		    mix-blend-mode: unset;
		    mix-blend-mode:hard-light;
		    background: #008988;
		    /* z-index: 10000; */
		    transform: translateZ(0);
		    transition: all .05s linear;
		}
	}
	&.modal_open {
		.main-header nav a {
			color:$beige;
		}
		.main-screens:after {
			// background-blend-mode:multiply !important;
			opacity:0.9;
	    	transition:all .5s linear 1s;
	    	// transition: all .75s linear;
		}
	}
}







