body {
	// background:$dark;
	height:100vh;
}

.max-width {
	width:100%;
	max-width:$width-site;
	margin:0 auto;
	height:100%;
	// box-shadow:0px 0px 15px 5px rgba(51, 55, 69, 0.4);
	box-shadow:0px 0px 50px 0px rgba($dark, 0.9);
}
.container {
	width:100%;
	max-width:$width-cont;
	margin:0 auto;
	position:relative;

	&.padding {
		padding:0 $bodyLineHeight;
	}
	&.thin {
		max-width:1200px;
	}
}

.center-content {
	@include centered();
}

.mainContent {
	// margin-top:($bodyLineHeight * 6);
	padding:($bodyLineHeight * 3) 0;
}

.visually-hidden {
	@include visually-hidden();
}

.background-image {
	min-height:100px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.square {
	@include squared();
}


.scroll-trigger,
.fade-in {
	$amt:10px;
	.fade-down {
		transform: translateY(-$amt);
		opacity:0;
		transition: all .3s linear;
	}
	.fade-up {
		transform: translateY($amt);
		opacity:0;
		transition: all .3s linear;
	}
	.fade-left {
		transform: translateX(-$amt);
		opacity:0;
		transition: all .3s linear;
	}
	.fade-right {
		transform: translateX($amt);
		opacity:0;
		transition: all .3s linear;
	}

	&.active {
		.fade-down,
		.fade-up {
			transform: translateY(0%);
			opacity:1;
		}
		.fade-left,
		.fade-right {
			transform: translateX(0%);
			opacity:1;
		}
	}
}

.modal {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:rgba($dark,0.7);
	z-index:100;
	// padding:1em;
	opacity:0;
	pointer-events:none;
	tranform: translateY(-4%);
	transition: all .1s linear;
	.modal-inner {
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		max-height:90vh;
		width:90%;
		max-width:400px;
		z-index:1000;
	}

	&.active {
		opacity:1;
		pointer-events:initial;
		transform: translateY(0%);
		.modal-toggle,
		.menu-toggle {
			&.open {
				opacity:0;
			}
			&.close {
				opacity:1;
			}
		}
	}
}

.modal-toggle,
.menu-toggle {
	position:absolute;
	right:2em;
	top:2em;
	cursor:pointer;
	display:block;
	color:$beige;
	&.close {
		opacity:0;
	}
}

.main-screens {
	overflow:hidden;
	.section-slide {
		// overflow:hidden;
		// display:none;
		// opacity:0 !important;
		// z-index:1;
		&.active {
			// opacity:1 !important;
			// overflow:hidden;
			// width:500px;
			// display:block;
		}

	}
}


@media screen and (max-width:$grid-medium - 1) {
	.modal-toggle,
	.menu-toggle {
		right:0.6em;
		top:0.6em;
	}
}











