<!-- includes/block-hero -->
{% assign block_id = '' %}
{% capture block_id %}block-{{ section.image.background_image | replace: '/','' | replace: '.','' }}{% endcapture %}
{% comment %}{% assign hor_align = '' %}{% endcomment %}

{% if section.content.cta.url-for-page != blank  %}
	{% assign url = section.content.cta.url-for-page %}
{% endif %}
{% if section.content.cta.url_for_post != blank %}
	{% assign url = section.content.cta.url_for_post %}
{% endif %}
<section 
	class="section-slide hero background-image {{ block_id }}">
	{% comment %}<div class="background-image"></div>{% endcomment %}
	<div class="container">
		<div class="grid_no_gutter">
			<div class="grid__item small--hide medium--one-half large-up--three-fifths">
				<span style="opacity: 0; pointer-events: none; display: block;">spacer</span>
			</div>
			<div class="grid__item medium--one-half large-up--two-fifths background-color">
				<span style="opacity: 0; pointer-events: none; display: block;">spacer</span>
				<div class="content text-right small--text-center">
					<h2 class="h1">{{ section..content.headline | strip_html }}</h2>
					<p>{{ section.content.desc }}</p>
					{% if section.content.cta.enabled == true %}
						<a class="btn" href="{{ url }}">{{ section.content.cta.button_text }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<style type="text/css">
		.{{ block_id }}::before {
			background-color:{{ section.image.image_background_color }};
			{% if section.image.background_image %}
			background-image: url('{{ section.image.background_image | relative_url }}');
			{% endif %}
			{% if section.image.background_position %}
			background-position:{{ section.image.background_position }};
			{% endif %}
			{% if section.image.background_size %}
			background-size:{{ section.image.background_size }};
			{% endif %}

		}
		@media screen and (max-width:767px) {
			.{{ block_id }}::before {
				{% if section.image.mobile_background_image %}
				background-image: url('{{ section.image.mobile_background_image | relative_url }}');
				{% endif %}
				{% if section.image.mobile_background_position %}
				background-position:{{ section.image.mobile_background_position }};
				{% endif %}
				{% if section.image.mobile_background_size %}
				background-size:{{ section.image.mobile_background_size }};
				{% endif %}

			}
		}
		.{{ block_id }} .background-color::after {
			background-color:{{ section.content.content_background_color }};
		}
		.{{ block_id }} h2,
		.{{ block_id }} p {
			color:{{ section.content.text_color }};
		}
	</style>
</section>

