{% comment %}{% assign img = '' %}{% endcomment %}
{% assign img = '' %}
{% assign img = post.image.background_image | relative_url %}
{% capture post_id %}post-{{ post.image.background_image | slugify | replace: '-','' | slice: 1,20  }}{% endcapture %}
<div class="blog-item">
	{% comment %}<div>{{ img }}</div>{% endcomment %}
	<a href="{{ post.url }}" class="background-image {{ post_id }}" style="">
		<div class="meta-overlay">
			<h2 class="h3 post-title">{{ post.title }}</h2>
			<span class="date">{{ post.date | date: '%B %e, %Y' }}</span>
		</div>
	</a>
	<style type="text/css">
		.{{ post_id }}::after {
			background-image: url({{ img }});
		}
	</style>
</div>