<!-- includes/cta -->
{% assign block_id = '' %}
{% capture block_id %}block{{ section.image.background_image | replace: '/','' | replace: '.','' | split: '' | reverse | join: '' | truncate: 20,'' }}{% endcapture %}
{% capture cssClass %}.{{block_id}}{% endcapture %}
{% comment %}{% assign hor_align = '' %}{% endcomment %}

{% assign url = section.content.cta.url %}
{% include url_shortener.html url=url %}


{% assign has_icon = false %}
{% if section.image.icon_image != blank %}
	{% assign has_icon = true %}
{% endif %}

<section 
	class="section-slide hero cta has-center-content background-image {{ block_id }}">
	<div class="container">
		<div class="grid_no_gutter">
			<div class="grid__item {% comment %}medium--one-half large-up--two-fifths {% endcomment %}background-color">
					
				<div class="center-content {% if has_icon == true %}has-icon{% endif %} text-center ">
					{% if has_icon == true %}
						<div class="icon-image"> 
							<img src="{{ section.image.icon_image | relative_url }}">
						</div>
					{% endif %}
					<div class="text-content">
						<h2 class="h1">{{ section.content.headline | strip_html }}</h2>
						<div>{{ section.content.desc }}</div>
						{% if section.content.cta.enabled == true %}
							<a class="btn" href="{{ url }}">{{ section.content.cta.button_text }}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if has_icon == true %}
		<script type="text/javascript">
			jQuery('{{ccSlass}} .icon-image img').each(function(){
			    var $img = jQuery(this);
			    var imgID = $img.attr('id');
			    var imgClass = $img.attr('class');
			    var imgURL = $img.attr('src');
			    // console.log(imgURL)
			    jQuery.get(imgURL, function(data) {
			        // Get the SVG tag, ignore the rest
			        var $svg = jQuery(data).find('svg');
			        // Add replaced image's ID to the new SVG
			        if(typeof imgID !== 'undefined') {
			            $svg = $svg.attr('id', imgID);
			        }
			        // Add replaced image's classes to the new SVG
			        if(typeof imgClass !== 'undefined') {
			            $svg = $svg.attr('class', imgClass+' replaced-svg');
			        }
			        // Remove any invalid XML tags as per http://validator.w3.org
			        $svg = $svg.removeAttr('xmlns:a');
			        // Replace image with new SVG
			        $img.replaceWith($svg);
			    }, 'xml');

			});
			$(document).ready(function() {
				p{{block_id}}  = '.{{block_id}} .grid__item';
				c{{block_id}}	= '.center-content';
		        // on Load
		        centerContentResizer(p{{block_id}},c{{block_id}});
		        // On Window Resize Event
		        $(window).resize(function() {
		            centerContentResizer(p{{block_id}},c{{block_id}});
		        });
			});
			
		</script>
	{% endif %}
	<style type="text/css">
		{{cssClass}} {
			background-color:{{ section.image.image_background_color }};
		}
		{{cssClass}}::before {
			{% if section.image.background_image %}
			background-image: url('{{ section.image.background_image | relative_url }}');
			{% endif %}
		}
		@media screen and (max-width:767px) {
			{{cssClass}}::before {
				{% if section.image.mobile_background_image %}
				background-image: url('{{ section.image.mobile_background_image | relative_url }}');
				{% endif %}
			}
		}
		{% assign side_color = section.content.content_background_color | replace: 'rgb', 'rgba' %}
		{% assign srt_color = side_color | replace: ')', ',0)' %}
		{% assign end_color = side_color | replace: ')', ',1)' %}
		{{cssClass}}::after {
			{% capture gradient %} linear-gradient(-250deg, {{ srt_color }} 55%,{{ end_color }}) {% endcapture %}

			/* background-color:{{ section.content.content_background_color }}; */
			background:{{ gradient }};
		}
		{{cssClass}} h2,
		{{cssClass}} p {
			color:{{ section.content.text_color }};
		}

		{{cssClass}} h2 {
			border-bottom-color:{{ section.content.text_color }};
		}
		{{cssClass}} .icon-image svg g,
		{{cssClass}} .icon-image svg path,
		{{cssClass}} .icon-image svg polygon,
		{{cssClass}} .icon-image svg rect,
		{{cssClass}} .icon-image svg {
			fill:{{ section.content.text_color }};
		}

		{% assign custom = section.custom_html | raw %}
		{% assign cssLoop = custom | replace: '==', cssClass | replace: ';', ' !important;' %}

		{{cssLoop}}
	</style>
</section>

