<!-- includes/header -->
<header class="main-header">
	<div class="container">
		<a href="/" class="logo">
			{% comment %}<img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">{% endcomment %}
			{{ site.title }}
		</a>

		<span class="open menu-toggle">
			<span class="visually-hidden">Open Menu</span>
			{% include icon-menu-open.liquid %}
		</span>
		<div class="modal menu-modal">
			<div class="container">
				<span class="close menu-toggle">
					<span class="visually-hidden">Close Menu</span>
					{% include icon-menu-close.liquid %}
				</span>
				<div class="modal-inner wide">
					<nav>
						{% for item in site.data.menus.main %}
							{% assign page_url = page.url | replace: '.html','' %}
							<a 
								href="{{ item.url }}" 
								class="nav-item {% if page_url == item.url %}active{% endif %}">
								{{ item.title }}
							</a>
						{% endfor %}
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
{% if page_url != '/' and include.spacer != 'none' %}
	<div 
		style="height:108px;" 
		class="spacer"></div>
{% endif %}
<script type="text/javascript">
	// $(document).ready(function () {
	// 	var toggle = $('.menu-toggle');
	// 		nav = $('.menu-modal');
	// 		body = $('body');
	// 	toggle.on('click touch', function() {
	// 		nav.toggleClass('active');
	// 		body.toggleClass('locked');
	// 	})

	// 	setTimeout(function(){
 //        	$('.main-header').addClass('fade-in');
 //        }, 1000);
	// })
	$(document).ready(function() {

        var $btn = $('.menu-toggle'),
            $nav = $('.menu-modal'),
            $nav_bg = $('.menu_active_bg'),
            $links = $('.menu-modal a'),
            $parent = $('.main-header');

        var nav_Open = function() {
            $btn.toggleClass('active');
            $nav.toggleClass('active');
            $parent.toggleClass('active');

            // Btn Settings
            var isOpen = $btn.is('.active');
                
                easing = [500, 20],

                NavTop = isOpen ? '0%':'-200%',
                NavDelay = isOpen ? 0 : 0,
                NavDur = isOpen ? 700 : 100,

                aTrans = isOpen ? 'transition.leftIn' : 'transition.leftOut',
                aStag = isOpen ? 175 : 0,
                aDelay = isOpen ? 450 : 0,
                aDur = isOpen ? 600 : 100,
                aEase = isOpen ? easing : easing,
                    
                ease = isOpen ? easing : easing,
                dur = isOpen ?  500 : 200;
    
    			
            // Navigation
            // $nav.velocity({
            //     top:NavTop
            // },{
            //     easing: ease,
            //     duration:NavDur,
            //     delay:NavDelay
            // })

            // Links
            $links.velocity(aTrans,{
                duration:aDur,
                delay:aDelay,
                easing:[300, 10],
                stagger:aStag
            })
        }
        
        $btn.click(nav_Open);
        // $nav_bg.click(nav_Open);

     })
</script>