<header class="block block-header-1">
	<div class="block-header-1--logo">
		<a href="/">
			{% comment %}<img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">{% endcomment %}
			{{ site.title }}
		</a>
	</div>
	<nav class="block-header-1--nav">
		<ul>			
			{% for item in site.data.menus.main %}
				{% assign page_url = page.url | replace: '.html','' %}
				<li class="nav-item {% if page_url == item.url %}active{% endif %}">
					<a href="{{ item.url }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>

{% comment %}<div>{{ page.url }}</div>
{% for item in site.menus.main %}
	{% assign link_url = item.url | replace: '.html','' %}

	<div>{{ link_url }}</div>
{% endfor %}{% endcomment %}
