<!-- includes/page-gallery -->
{% assign block_id = section.block %}
{% comment %}{% capture block_id %}block-{{ section.image | slugify: ascii }}{% endcapture %}{% endcomment %}

<section class="post-gallery background-image {{ block_id }}">
	{% comment %}<div class="rte">{{ post.gallery.gallery_title }}</div>{% endcomment %}
	{% assign images = section.image %}
	{% comment %}<div class="rte">Images Size: {{ images }}</div>{% endcomment %}
	<div class="grid">
		{% for img in images %}
			{% assign img_id = '' %}
			{% assign img_id = img.image | slugify %}
			{% if img_id %}
				<div class="grid__item one-whole medium--one-half large-up--one-quarter">
					<div class="background-image squared {{ img_id }}">
						
					</div>
				</div>
			{% endif %}




		{% endfor %}
	</div>
	<style type="text/css">
		{% for img in images %}
			{% assign img_id = img.image | slugify %}
			.{{ img_id }} {
				background-image:url({{ img.image | relative_url }});
			}

		{% endfor %}
	</style>



</section>

