{% assign related = false %}
{% for post in site.posts %}
	{% assign p_tag = '' %}
	{% for p in post.tags %}
		{% assign p_tag = p | slugify %}
	{% endfor %}
	{% if this_posts_tags contains p_tag and p_tag != '' and post.title != page.title %}
		{% assign related = true %}
	{% endif %}
{% endfor %}
{% if related == true %}
	<!-- includes/post-related -->
	<div class="grid side-feed">
		<div class="grid__item ">
			<div class="grid__item ">
				<h3>Related Posts</h3>
			</div>
			{% assign limit = 4 %}
			{% assign count = 0 %}
			{% for post in site.posts %}
				{% assign p_tag = '' %}
				{% for p in post.tags %}
					{% assign p_tag = p | slugify %}
				{% endfor %}
				{% if this_posts_tags contains p_tag and p_tag != '' and post.title != page.title %}
					{% assign count = count | plus: 1 %}
					{% comment %}<div class="grid__item">Count/Limit: {{ count }} / {{ limit }}</div>{% endcomment %}
					{% if count <= limit %}
		        		<div class="grid__item one-whole {{ width }}">
							{% comment %}{% include blog_item.html %}	{% endcomment %}
							<a href="{{post.url}}" class="side-post {% if count == 1 %}border-top{% endif %}">
								<h4>{{ post.title }}</h4>
								<span>{{ post.date | date: '%B %e, %Y' }}</span>
							</a>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endif %}