.main-header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:10;
	// overflow:hidden;
	// padding:1em;
	mix-blend-mode: difference;

	&.active {
		mix-blend-mode:darken;
	}
	.logo {
		font-size:54px;
		color:$beige;
		font-weight:bold;
		font-weight:900;
		letter-spacing:-0.05em;
		text-decoration:none;
		z-index:1001;
		position:relative;
		margin:0.5em;
		display:inline-block;
		line-height:1;
	}

	.menu-toggle {
		color:$beige;
		svg {
			width:53px;
			height:53px;
		}
	}
	.menu-modal {
		background:rgba(#000000,0.93);
		// transform: translateY(-200%);
		transition: all .3s .2s ease-in-out;
		&.active {
			transition: all .1s .2s ease-in-out;
		}
		.container {
			height:100%;
			
		}
		.modal-inner {
			max-width:1000px;
			width:80%;
		}

	}
	nav {
		a {
			display:block !important;
			padding:1em 0;
			font-size:45px;
			font-weight:bold;
			text-align:right;
			color:$beige;
			opacity:0;
			transform: translateX(50px);
		}
	}
	@media screen and (max-width:$grid-large - 1) {
		nav {
			a {
				font-size:40px;
			}
		}
	}
	@media screen and (max-width:$grid-medium - 1) {
		nav {
			a {
				// font-size:25px;
				padding:0.75em 0;
			}
		}
		.logo {
			margin:0.20em;
		}
	}
}