.tabs-container {
    max-width: 1200px;
    width:95%;
    margin: 0 auto;
    
    ul.tabs{
	    margin: 0px;
	    padding: 0px;
	    list-style: none;
	    border-bottom:0.15em solid $beige;
	    .tab-trig {
		    background: none;
		    color: $beige;
		    display: inline-block;
		    text-align:center;
		    padding: 7px 35px;
		    cursor: pointer;
		    font-size:22px;
		    border-bottom:0.25em solid rgba($red, 0);
		    transform: translateY(0.1em);
		    &.current {
			    // background: #ededed;
			    // color:$green;
			    border-bottom-color:rgba($red, 1);
			}
		}
	}
	.tab-content{
	    display: none;
	    // background: #ededed;
	    padding: 15px;
	    &.tab--active {
		    display: inherit;
		}
	}

	@media screen and (max-width:$grid-medium - 1) {
		// margin-top:calc(10vh + 25px);
		margin-top:85px;
		margin-top:75px;
		max-height:calc(100vh - 160px);
		overflow:hidden;
		overflow-y:auto;
		overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
		.tabs {
			display:flex;
			// align-items:left;
			max-width:900px;
			width:100%;
			overflow:hidden;
			overflow-x:auto;
			flex-wrap: nowrap;
			margin:0 15px;
			justify-content:flex-start;
			.tab-trig {
				// display:inline-flex;
				flex:0 0 auto;
			}
		}
	}
}

