<!-- includes/block-cta-bar -->
{% assign block_id = '' %}
{% capture block_id %}block-{{forloop.index}}-{{ section.image.background_image | replace: '/','' | replace: '.','' }}{% endcapture %}
{% capture cssClass %}.{{block_id}}{% endcapture %}
{% capture bdyClass %}{{bdyClass}}{% endcapture %}

{% assign url = section.content.cta.url %}
{% include url_shortener.html url=url %}


{% capture contact-form %}
	<form class="" action="https://formspree.io/{{ section.email_recipient }}" method="POST">
		<div class="input-group">
			<input name="Name" id="Name" type="text" class="" />
			<div></div>
			<label for="Name">Name</label>
		</div>
		<div class="input-group">
			<input name="Email" id="email" type="email" class="" />
			<label for="email">Email</label>
		</div>
		<div class="input-group">
			<input name="Subject" id="Subject" type="text" class="" />
			<label for="Subject">Subject</label>
		</div>
		<div class="input-group">
			<textarea name="Message" id="Message" class="" rows="10"></textarea>
			<label for="Message">Message</label>
		</div>
		<div class="btn-container">
			<button type="submit" class="btn button primary inverted">send</button>
		</div>
	</form>
{% endcapture %}
<section 
	class="section-slide hero contact background-image {{ block_id }}">
	<div class="container">
		<div class="grid_no_gutter">
			<div class="grid__item medium--one-half large-up--one-quarter">
				<div class="content">
					<h2 class="h1">{{ section.content.headline | strip_html }}</h2>
					<div class="rte">{{ section.content.description }}</div>
					{% if section.content.cta.enabled == true %}
						<a class="btn" href="{{ url }}">{{ section.content.cta.button_text }}</a>
					{% endif %}
				</div>
			</div>
			<div class="grid__item medium--one-half large-up--two-fifths large-up--push-one-fifth">
				{{contact-form}}
			</div>
			{% comment %}<div class="grid__item small--hide medium--hide large-up--one-quarter">
				<span style="opacity: 0; pointer-events: none; display: block;">spacer</span>
			</div>
			<div class="grid__item small--hide medium--one-half large-up--one-half text-center background-color">
				<span style="opacity: 0; pointer-events: none; display: block;">spacer</span>
				<div class="content ">
					{{ contact-form }}
				</div>
			</div>
			<div class="grid__item medium--one-half large-up--one-quarter text-center medium-up--text-right">
				<span style="opacity: 0; pointer-events: none; display: block;">spacer</span>
				<div class="content">
					<h2 class="h1">{{ section.headline | strip_html }}</h2>
					<p>{{ section.content }}</p>
					{% if section.cta and section.cta.enabled == true %}
						<a class="btn" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
					{% endif %}
					<div class="medium-up--hide">
						{{ contact-form }}
					</div>
				</div>
			</div>{% endcomment %}
		</div>
	</div>
	<style type="text/css">
		{{cssClass}} {
			background-color:{{ section.image.image_background_color }};
		}
		{{cssClass}}::before {
			{% if section.image.background_image %}
			background-image: url('{{ section.image.background_image | relative_url }}');
			{% endif %}
		}
		@media screen and (max-width:767px) {
			{{cssClass}}::before {
				{% if section.image.mobile_background_image %}
				background-image: url('{{ section.image.mobile_background_image | relative_url }}');
				{% endif %}
			}
		}
		{% assign side_color = section.content.content_background_color | replace: 'rgb', 'rgba' %}
		{% assign srt_color = side_color | replace: ')', ',0)' %}
		{% assign end_color = side_color | replace: ')', ',1)' %}
		{{cssClass}}::after {
			{% capture gradient %} linear-gradient(-250deg, {{ srt_color }} 55%,{{ end_color }}) {% endcapture %}

			/* background-color:{{ section.content.content_background_color }}; */
			background:{{ gradient }};
		}
		{{cssClass}} h2,
		{{cssClass}} p,
		{{cssClass}} * {
			color:{{ section.image.text_color }};
		}

		{{cssClass}} h2 {
			border-bottom-color:{{ section.image.text_color }};
		}
		{{cssClass}} .icon-image svg g,
		{{cssClass}} .icon-image svg path,
		{{cssClass}} .icon-image svg polygon,
		{{cssClass}} .icon-image svg rect,
		{{cssClass}} .icon-image svg {
			fill:{{ section.image.text_color }};
		}

		{% assign custom = section.custom_html | raw %}

		{% assign cssLoop = custom | replace: '==', cssClass | replace: '++', bdyClass | replace: ';', ' !important;' %}

		{{cssLoop}}
	</style>
	{% comment %}<style type="text/css">
		.{{ block_id }}::before {
			background-color:{{ section.image_background_color }};
			{% if section.background_image %}
			background-image: url('{{ section.background_image | relative_url }}');
			{% endif %}
			{% if section.background_position %}
			background-position:{{ section.background_position }};
			{% endif %}
			{% if section.background_size %}
			background-size:{{ section.background_size }};
			{% endif %}
			{% if section.background_blend_mode %}
			background-blend-mode:{{ section.background_blend_mode }};
			{% endif %}

		}
		.{{ block_id }}::after {
			background-color:{{ section.content_background_color }};
			{% if section.background_mix_mode %}
			mix-blend-mode:{{ section.background_mix_mode }} !important;
			{% endif %}
		}
		@media screen and (max-width:767px) {
			.{{ block_id }}::before {
				{% if section.mobile_background_image %}
				background-image: url('{{ section.mobile_background_image | relative_url }}');
				{% endif %}
				{% if section.mobile_background_position %}
				background-position:{{ section.mobile_background_position }};
				{% endif %}
				{% if section.mobile_background_size %}
				background-size:{{ section.mobile_background_size }};
				{% endif %}
				

			}
		}
		/* test */
		
		.{{ block_id }} h2,
		.{{ block_id }} label,
		.{{ block_id }} p {
			color:{{ section.text_color }};
		}
	</style>{% endcomment %}
</section>