<!-- includes/block-hero -->
{% assign block_id = '' %}
{% capture block_id %}block-{{forloop.index}}-{{ section.image.background_image | replace: '/','' | replace: '.','' }}{% endcapture %}
{% capture cssClass %}.{{block_id}}{% endcapture %}
{% comment %}{% assign hor_align = '' %}{% endcomment %}

{% assign url = section.content.cta.url %}
{% include url_shortener.html url=url %}

<section 
	class="section-slide hero background-image {{ block_id }}">
	<div class="container">
		<div class="grid_no_gutter">
			<div class="grid__item {% comment %}medium--one-half large-up--two-fifths {% endcomment %}background-color">
				<div class="center-content  text-center">
					<h2 class="h1">{{ section.content.headline | strip_html }}</h2>
					<p>{{ section.content.desc }}</p>
					{% if section.content.cta.enabled == true %}
						<a class="btn" href="{{ url }}">{{ section.content.cta.button_text }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<style type="text/css">
		.{{ block_id }} {
			background-color:{{ section.image.image_background_color }};
		}
		.{{ block_id }}::before {
			{% if section.image.background_image %}
			background-image: url('{{ section.image.background_image | relative_url }}');
			{% endif %}
			{% if section.image.background_position %}
			background-position:{{ section.image.background_position }};
			{% endif %}
			{% if section.image.background_size %}
			background-size:{{ section.image.background_size }};
			{% endif %}
			{% if section.image.mix_blend_mode %}
			background-blend-mode:{{ section.image.mix_blend_mode }};
			{% endif %}
			opacity: .6;
		}
		@media screen and (max-width:767px) {
			.{{ block_id }}::before {
				{% if section.image.mobile_background_image %}
				background-image: url('{{ section.image.mobile_background_image | relative_url }}');
				{% endif %}
				{% if section.image.mobile_background_position %}
				background-position:{{ section.image.mobile_background_position }};
				{% endif %}
				{% if section.image.mobile_background_size %}
				background-size:{{ section.image.mobile_background_size }};
				{% endif %}
				{% if section.image.mobile_image_background_color %}
				background-color:{{ section.image.mobile_image_background_color }};
				{% endif %}
				{% if section.image.mobile_mix_blend_mode %}
				background-blend-mode:{{ section.image.mobile_mix_blend_mode }};
				{% endif %}

			}
		}
		{% assign side_color = section.content.content_background_color | replace: 'rgb', 'rgba' %}
		{% assign srt_color = side_color | replace: ')', ',0)' %}
		{% assign end_color = side_color | replace: ')', ',1)' %}
		.{{ block_id }}::after {
			{% capture gradient %} linear-gradient(-250deg, {{ srt_color }} 55%,{{ end_color }}) {% endcapture %}

			/* background-color:{{ section.content.content_background_color }}; */
			background:{{ gradient }};
		}
		.{{ block_id }} h2,
		.{{ block_id }} p {
			color:{{ section.content.text_color }};
		}

		{% assign custom = section.custom_html | raw %}
		{% assign cssLoop = custom | replace: '==', cssClass | replace: ';', ' !important;' %}

		{{cssLoop}}
	</style>
</section>

