<!-- includes/cta -->
{% assign block_id = '' %}
{% capture block_id %}block-{{forloop.index}}-{{ section.background.background_image | replace: '/','' | replace: '.','' }}{% endcapture %}
{% capture cssClass %}.{{block_id}}{% endcapture %}
{% capture bdyClass %}{{bdyClass}}{% endcapture %}
{% comment %}{% assign hor_align = '' %}{% endcomment %}

{% assign url = section.content.cta.url %}
{% include url_shortener.html url=url %}


{% assign has_icon = false %}
{% if section.background.icon_image != blank %}
	{% assign has_icon = true %}
{% endif %}

{% case section.block_item.size %}
    {% when 1 %}
        {%- assign width = '' -%}
    {% when 2 %}
        {%- assign width = 'medium-up--one-half' -%}
    {% when 3 %}
        {%- assign width = 'medium-up--one-third' -%}
    {% when 4 %}
        {%- assign width = 'medium-up--one-quarter' -%}
    {% when 6 %}
        {%- assign width = 'medium-up--one-third large-up--one-sixth' -%}
    {% else %}
        {%- assign width = 'medium-up--one-third large-up--one-fifth' -%}
{% endcase %}

<section 
	class="section-slide hero text-grid background-image {{ block_id }}">
	<div class="container">
		<div class="grid_no_gutter ">
			{% for item in section.block_item %}
				<div class="grid__item text-center {{width}}">
					<div class="item animate">
						{% if has_icon == true %}
							<div class="icon-image"> 
								<img src="{{ item.icon | relative_url }}">
							</div>
						{% endif %}
						<div mh-ttl>
							<h2>{{item.title}}</h2>
						</div>
						<div>{{item.text}}</div>
					</div>



				</div>

				{% comment %}{% include {{ section.block }}.html %}{% endcomment %}
			{% endfor %}

			<script type="text/javascript">
			    $(document).ready(function() {
			        var item = $('.{{block_id}} [mh-ttl]');
			        matchHeight(item);
			    });
			</script>



		</div>
	</div>

	<style type="text/css">
		{{cssClass}} {
			background-color:{{ section.background.image_background_color }};
		}
		{{cssClass}}::before {
			{% if section.background.background_image %}
			background-image: url('{{ section.background.background_image | relative_url }}');
			{% endif %}
		}
		@media screen and (max-width:767px) {
			{{cssClass}}::before {
				{% if section.background.mobile_background_image %}
				background-image: url('{{ section.background.mobile_background_image | relative_url }}');
				{% endif %}
			}
		}
		{% assign side_color = section.content.content_background_color | replace: 'rgb', 'rgba' %}
		{% assign srt_color = side_color | replace: ')', ',0)' %}
		{% assign end_color = side_color | replace: ')', ',1)' %}
		{{cssClass}}::after {
			{% capture gradient %} linear-gradient(-250deg, {{ srt_color }} 55%,{{ end_color }}) {% endcapture %}

			/* background-color:{{ section.content.content_background_color }}; */
			background:{{ gradient }};
		}
		{{cssClass}} h2,
		{{cssClass}} p,
		{{cssClass}} * {
			color:{{ section.background.text_color }};
		}

		{{cssClass}} h2 {
			border-bottom-color:{{ section.background.text_color }};
		}
		{{cssClass}} .icon-image svg g,
		{{cssClass}} .icon-image svg path,
		{{cssClass}} .icon-image svg polygon,
		{{cssClass}} .icon-image svg rect,
		{{cssClass}} .icon-image svg {
			fill:{{ section.background.text_color }};
		}

		{% assign custom = section.html | raw %}

		{% assign cssLoop = custom | replace: '==', cssClass | replace: '++', bdyClass | replace: ';', ' !important;' %}

		{{cssLoop}}
	</style>
</section>

