<!-- includes/page-gallery -->
<section class="post-gallery background-image">
	{% assign images = section.image %}
	{% assign first = section.image.first  %}
	{% if first.caption_title %}
		{% assign imagesClass = first.caption_title | slugify | truncate: 25, '' | prepend: 'block-' %}
	{% elsif first.caption_text %}
		{% assign imagesClass = first.caption_text | slugify | truncate: 25, '' | prepend: 'block-' %}
	{% elsif first.image %}
		{% assign imagesClass = first.image | slugify | truncate: 25, '' | prepend: 'block-' %}
	{% endif %}

	{% if section.title %}
		<div class="section-title">
			<h3>{{ section.title }}</h3>
		</div>
	{% endif %}
	<div class="grid {{imagesClass}}">
		{% for img in images %}
			{% assign img_id = '' %}
			{% assign img_id = img.image | slugify %}
			{% if img_id %}
				<div class="grid__item one-half large-up--one-quarter">
					<a rel="{{imagesClass}}" title="{{ img.caption_title }}" href="{{ img.image | relative_url }}" class="background-image squared {{ img_id }}"></a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<style type="text/css">
		{% for img in images %}
			{% assign img_id = img.image | slugify %}
			.{{ img_id }} {
				background-image:url({{ img.image | relative_url }});
			}

		{% endfor %}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.{{imagesClass}} .background-image').simpleLightbox({
				captions: true,
				captionSelector: 'self',
				// rel: true,
				captionType: 'attr',
				captionsData: 'title',
				captionPosition: 'bottom'
			});
		})
	</script>
</section>

