<!DOCTYPE html>
<html lang="en">
	{% include global/head.html %}
	<!-- layouts/blocks -->
	<body class="blocks-page page-{{page.title}}">
		<div class="max-width--master">
			{% include global/header.html spacer='none' %}
			
			{% comment %}{% assign use_animations = true %}{% endcomment %}
			<div class="main-content {% if use_animations == true %}slides-on{% endif %}">
				{% for section in page.page_sections %}
					{% capture sctnClass %}block-{{forloop.index}}{% endcapture %}
					{% capture bdyClass %}.active-pane-{{forloop.index}}{% endcapture %}
					<div class="pane {% if forloop.first and use_animations == true %}current-pane{% endif %} {{sctnClass}}" pane-number="{{forloop.index}}">
						{% include blocks/{{ section.block }}.html bdy='bdyClass' blk='sctnClass' %}
					</div>
				{% endfor %}
			</div>
			{% if page.page_sections.size > 1 and page.use_slider == true %}
				{% comment %}{% include helpers/script-main-slider.html %}{% endcomment %}
			{% endif %}
		</div>
		{% include global/footer.html %}
 	</body>
</html>