<!DOCTYPE html>
<html lang="en">
	{% include global/head.html %}
	<!-- layouts/blocks -->
	<body>
		
		<div class="max-width--master">
			{% include global/header.html spacer='none' %}
			<div class="">
				
				<div class="main-screens">
					{% comment %}{% for section in page.page_sections %}
						{% include page/{{ section.block }}.html %}
					{% endfor %}{% endcomment %}

					<style type="text/css">
						
						{% assign grd_bdr = '0.3vmax' %}
						.show-block-list .show-blocks {
						  display: grid;
						  grid-template-columns: repeat(2, 1fr);
						  grid-gap: {{grd_bdr}};
						} 

						.show-block-list .show-blocks{
						  border: {{grd_bdr}} solid black;
						}
						.show-block-list .show-block {
							box-shadow:0 0 0 {{grd_bdr}} black;
						}

					</style>
						{% comment %}.main-screens {
							padding: 50px;
							padding-left:  200px;
							background-color: rgba(175,175,175,1);
						}

						.show-block-list {
							background-color: white;
						}
						.show-block-list h2,
						.show-block-list h3,
						.show-block-list h4,
						.show-block-list div {
							font-weight: 400;
							display: inline-block;
							margin: 0 auto 0.25em;
							padding: 0;
							text-align: center !important;
							color: black;
						}

						.show-block-list h2,
						.show-block-list h4 b {
							font-weight: bold;
						}
						.show-block-list,
						.show-block-list tr,
						.show-block-list td {
						  display: block;

						}

						.show-block-list tr {
							padding: 7em 2em;
							text-align:  center;
						}

						.show-block-list thead {
						  display: none;
						}

						.show-block > tr > td:first-of-type {
							width: 80%;
						}
						@media screen and (min-width: 768px) { /* four-column breakpoint */
							.show-block-list .show-blocks {
							  grid-template-columns: repeat(3, 1fr);
							}

						}
						@media screen and (min-width: 1200px) { /* four-column breakpoint */
							.div2 .show-blocks {
							  grid-template-columns: repeat(2, 1fr);
							}

							.div9 .show-blocks,
							.div6 .show-blocks,
							.div3 .show-blocks {
							  grid-template-columns: repeat(3, 1fr);
							}

							.div8 .show-blocks,
							.div4 .show-blocks {
							  grid-template-columns: repeat(4, 1fr);
							}

							.div5 .show-blocks {
							  grid-template-columns: repeat(5, 1fr);
							}

						  .show-block-list {
						    grid-template-columns: repeat(4, 1fr);
						  }

						  .headliner {
						    font-size: 1.5vw;
						  }

						  /* 2x1 partitions */

						  .div3 .show-block:nth-child(3n+2),    /* div3 partition 02 of 03 */
						  .div3 .show-block:nth-child(3n+3),    /* div3 partition 03 of 03 */
						  .div5 .show-block:nth-child(15n+4),   /* div5 partition 04 of 15 */
						  .div5 .show-block:nth-child(15n+5),   /* div5 partition 05 of 15 */
						  .div5 .show-block:nth-child(15n+12),  /* div5 partition 12 of 15 */
						  .div5 .show-block:nth-child(15n+15),  /* div5 partition 15 of 15 */
						  .div6 .show-block:nth-child(12n+5),   /* div6 partition 05 of 12 */
						  .div6 .show-block:nth-child(12n+6),   /* div6 partition 06 of 12 */
						  .div6 .show-block:nth-child(12n+11),  /* div6 partition 11 of 12 */
						  .div6 .show-block:nth-child(12n+12),  /* div6 partition 12 of 12 */
						  .div7 .show-block:nth-child(14n+2),   /* div7 partition 02 of 14 */
						  .div7 .show-block:nth-child(14n+3),   /* div7 partition 03 of 14 */
						  .div8 .show-block:nth-child(16n+2),   /* div8 partition 02 of 16 */
						  .div8 .show-block:nth-child(16n+5),   /* div8 partition 05 of 16 */
						  .div8 .show-block:nth-child(16n+12),  /* div8 partition 12 of 16 */
						  .div8 .show-block:nth-child(16n+13),  /* div8 partition 13 of 16 */
						  .div9 .show-block:nth-child(9n+2),    /* div9 partition 02 of 09 */
						  .div9 .show-block:nth-child(9n+5),    /* div9 partition 05 of 09 */
						  .div9 .show-block:nth-child(9n+8),    /* div9 partition 08 of 09 */
						  .div9 .show-block:nth-child(9n+9) {   /* div9 partition 09 of 09 */
						    grid-column: auto / span 2;
						  }

						  .div3 .show-block:nth-child(3n+2) .headliner,
						  .div3 .show-block:nth-child(3n+3) .headliner,
						  .div5 .show-block:nth-child(15n+4) .headliner,
						  .div5 .show-block:nth-child(15n+5) .headliner,
						  .div5 .show-block:nth-child(15n+12) .headliner,
						  .div5 .show-block:nth-child(15n+15) .headliner,
						  .div6 .show-block:nth-child(12n+5) .headliner,
						  .div6 .show-block:nth-child(12n+6) .headliner,
						  .div6 .show-block:nth-child(12n+11) .headliner,
						  .div6 .show-block:nth-child(12n+12) .headliner,
						  .div7 .show-block:nth-child(14n+2) .headliner,
						  .div7 .show-block:nth-child(14n+3) .headliner,
						  .div8 .show-block:nth-child(16n+2) .headliner,
						  .div8 .show-block:nth-child(16n+5) .headliner,
						  .div8 .show-block:nth-child(16n+12) .headliner,
						  .div8 .show-block:nth-child(16n+13) .headliner,
						  .div9 .show-block:nth-child(9n+2) .headliner,
						  .div9 .show-block:nth-child(9n+5) .headliner,
						  .div9 .show-block:nth-child(9n+8) .headliner,
						  .div9 .show-block:nth-child(9n+9) .headliner {
						    font-size: 2.25vw;

						  }

						}
						{% endcomment %}

					{% capture show-blocks %}
						Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||
						Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||
						Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||
						Get Up Kids ~ Dr Dog ~ White Rabbit - San Antonio, TX ~ June 10th ||
						{% comment %}Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||{% endcomment %}
						Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||
						{% comment %}Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||{% endcomment %}
						{% comment %}Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||{% endcomment %}
						{% comment %}Get Up Kids ~ Dr Dog ~ White Rabbit - San Antonio, TX ~ June 10th || {% endcomment %}
						{% comment %}Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||{% endcomment %}
						{% comment %}Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||{% endcomment %}
						{% comment %}Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||{% endcomment %}
						{% comment %}Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||{% endcomment %}
						{% comment %}Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||{% endcomment %}
						{% comment %}Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||{% endcomment %}
						{% comment %}Get Up Kids ~ Dr Dog ~ White Rabbit - San Antonio, TX ~ June 10th || {% endcomment %}
						Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||
						{% comment %}Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||{% endcomment %}
						Get Up Kids ~ Dr Dog ~ White Rabbit - San Antonio, TX ~ June 10th || 
						Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||
						{% comment %}Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||{% endcomment %}
						{% comment %}Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||{% endcomment %}
						{% comment %}Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||{% endcomment %}
						Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||
						Get Up Kids ~ Pavement ~ Varsity Theatre - Baton Rouge, LA ~ May 31st ||
						Get Up Kids ~ Dr Dog ~ White Rabbit - San Antonio, TX ~ June 10th || 
						Get Up Kids ~ Primus ~ One Eyed Jacks - New Orleans, LA ~ June 4th ||
						{% comment %}Get Up Kids ~ Less Than Jake ~ Emos - Austin, TX ~ June 2nd ||{% endcomment %}
						{% comment %}Get Up Kids ~ Dr Dog ~ White Rabbit - San Antonio, TX ~ June 10th{% endcomment %}
					{% endcapture %}


					{% assign show-blocks = show-blocks | split: '||' %}
					{% assign divisor = show-blocks.size | divided_by: 1.75 | round  %}


					{% comment %}<table style="table-layout: fixed; width: 200px; font-family: monospace; color: black;">
						<tr>
							<td>Shows size:</td>
							<td class="text-right">{{show-blocks.size}}</td>
						</tr>
						<tr>
							<td>Divisor start:</td>
							<td class="text-right">{{divisor}}</td>
						</tr>{% endcomment %}
						{% for i in (1..divisor) %}
							{% assign quotient = show-blocks.size | modulo: divisor %}
							{% assign quotient_alt = show-blocks.size | minus: 1 | modulo: divisor %}
							{% comment %}<tr>
								<td>Quotient {{forloop.index}}:</td>
								<td class="text-right">{{quotient}}</td>
							</tr>
							<tr>
								<td>Quotient_alt {{forloop.index}}:</td>
								<td class="text-right">{{quotient_alt}}</td>
							</tr>
							<tr>
								<td>
									<hr />
								</td>
							</tr>{% endcomment %}
							{% if quotient == 0 or quotient_alt == 0 %}
								{% comment %}<tr>
									<td>BREAK</td>
								</tr>{% endcomment %}
								{% break %}
							{% else %}
								{% assign divisor = divisor | minus: 0 %}
							{% endif %}
						{% endfor %}
						{% comment %}<td>Divisor end:</td>
						<td class="text-right">{{divisor}}</td>
						
					</table>{% endcomment %}
				

					<table class="show-block-list div{{ divisor }}">
					    <thead>
					        <tr>
					            <th class="date">Date</th>
					            <th class="artist">Artist(s)</th>
					            <th class="location">Location</th>
					            <th class="notes">Notes</th>
					        </tr>
					    </thead>
					    <tbody class="show-blocks ">
					        {% for show-block in show-blocks %}
								{% assign mod = forloop.index | modulo: 2 %}
					        	{% assign itms = show-block | split: '~' %}
					        	{% assign headliner = itms[0] %}
					        	{% assign support 	= itms[1] %}
					        	{% if mod == 0 %}
					        		{% assign headliner = itms[1] %}
					        		{% assign support 	= itms[0] %}
					        	{% endif %}
					        	{% assign venue 	= itms[2] %}
					        	{% assign location 	= itms[3] %}
					        	{% assign dte 		= itms[4] %}
						        <tr class="show-block">
						        	<td class="headliner">
						        		<h2>{{headliner}}</h2>
						        	</td>
						        	<td>
						        		<h3>with <b>{{support}}</b></h3>
						        	</td>
						        	<td>
						        		<h4>{{location}}</h4>
						        	</td>
						        	<td>
						        		<div>{{venue}}</div>
						        		<div>{{dte}}</div>
						        	</td>
						        </tr>
					        {% endfor %}
					    </tbody>
					</table>


				</div>
			</div>
			{% include global/footer.html %}
		</div>
 	</body>
</html>