<!DOCTYPE html>
<html lang="en">
	{% include global/head.html %}
	<!-- layouts/blocks -->
	<body>
		<div class="max-width">
			{% include global/header.html spacer='none' %}
			<div class="">
				<div class="main-screens">
					{% for section in page.page_sections %}
						{% comment %}<div>{{ section.block }} - {{ forloop.index }}</div>{% endcomment %}
						{% include page-{{ section.block }}.html %}
					{% endfor %}
				</div>
			</div>
			{% include global/footer.html %}
		</div>
 	</body>
</html>