<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<!-- layouts/post -->
	<body class="template-post">
		<div class="max-width">
			{% include header.html spacer='none' %}

			{% assign img = '' %}
			{% assign img = page.image.background_image | relative_url %}
			{% capture post_id %}post-{{ page.image.background_image | slugify | replace: '-','' | slice: 1,20  }}{% endcapture %}
			<style type="text/css">
				.main-hero::after {
					background-image: url({{ img }});
				}
			</style>
			<div class="main-screens">
				<div class="main-hero background-image">
					<div class="meta-overlay">
						<h1 class="post-title">{{ page.title }}</h1>
						<span class="date">{{ page.date | date: '%B %e, %Y' }}</span>
						<div class="tags">
							{% for p in page.tags %}
								<span>{{ p }}</span> {% unless forloop.last %}<span>|</span>{% endunless %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="container">
					<div class="grid">
						<div class="grid__item one-whole medium--two-thirds large-up--three-quarters large-up--push-one-eighth">
							{{ content }}
							{% for section in page.blocks %}
								{% include {{ section.block }}.html %}
							{% endfor %}
						</div>
					</div>	
				</div>


				
			</div>
			{% include footer.html %}
		</div>
 	</body>
</html>